{% extends "base.html" %}

{% block content %}
  <div id="post-page">
  {{post.render(curr_user_id) | safe}}
  <br>
  {% if curr_user_id %}
  <form method="post" action="/blog/{{post_id}}" class="comment-form">
    <label>
      Comment:
    </label>
    <textarea name="comment" id="comment-textarea" cols="30" rows="4" class="comment-text"></textarea>
    <br>
    <input type="submit">
  </form>
  <br>
  {% endif %}
  {% if comments %}
       {% for c in comments %}
          {{ c.render(curr_user_id) | safe }}
       {% endfor %}
  {% endif %}
  </div>
{% endblock %}


